@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-title: 'Montserrat';
    --color-beige: #EDE8D0 ;    
}

.autoShow{
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

@keyframes text-appear{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.autoRotate{
    animation: AutoRotateAnimation;
    animation-timeline: view();
}

@keyframes AutoRotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.imageReveal{
    animation: image-reveal both;
    animation-timeline: view(50% 20%);
}

@keyframes image-reveal{
    from {
        opacity: 0;
        scale: .95;
        translate: 0 4rem;
    }
    to {
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}

@import "./powergrid.css";

/** enable dark mode */
@custom-variant dark (&:where(.dark, .dark *));

@source '../../app/Livewire/*Table.php';
@source '../../app/Livewire/**/*Table.php';
@source '../../vendor/power-components/livewire-powergrid/src/Themes/Tailwind.php';
@source '../../vendor/power-components/livewire-powergrid/resources/views/**/*.php';

/* Custom theme */
@theme {
 --color-pg-primary-50: oklch(0.985 0 0);
 --color-pg-primary-100: oklch(0.97 0 0);
 --color-pg-primary-200: oklch(0.922 0 0);
 --color-pg-primary-300: oklch(0.87 0 0);
 --color-pg-primary-400: oklch(0.708 0 0);
 --color-pg-primary-500: oklch(0.556 0 0);
 --color-pg-primary-600: oklch(0.439 0 0);
 --color-pg-primary-700: oklch(0.371 0 0);
 --color-pg-primary-800: oklch(0.269 0 0);
 --color-pg-primary-900: oklch(0.205 0 0);
 --color-pg-primary-950: oklch(0.145 0 0);
}


