@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-title: 'Montserrat';
    --color-beige: #EDE8D0 ;    
}

.autoShow{
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

@keyframes text-appear{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.autoRotate{
    animation: AutoRotateAnimation;
    animation-timeline: view();
}

@keyframes AutoRotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.imageReveal{
    animation: image-reveal both;
    animation-timeline: view(50% 20%);
}

@keyframes image-reveal{
    from {
        filter: saturate(0%) contrast(4) brightness(.1) blur(5px);
        opacity: 0;
        scale: .95;
        translate: 0 4rem;
    }
    to {
        filter:none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}
